<!-- Static navbar -->
<div class="navbar navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="#">Corkscrew Admin</a>
    <div class="nav-collapse collapse">
      <ul class="nav navbar-nav">
        <li>{{#linkTo 'batches' }}Batches{{/linkTo}}</li>
        <li>{{#linkTo 'customers' }}Customers{{/linkTo}}</li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>{{#linkTo 'batch_types'}}Batch Types{{/linkTo}}</li>
          <li>{{#linkTo 'action_types'}}Action Types{{/linkTo}}</li>
        </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>


<div class="container">

  <h2>Welcome to Ember.js</h2>

  {{outlet}}
</div>
